
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Nunito', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
  width: 100%;
}

ul{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
}

h1,h2{
  line-height: 1.2;
}

p{
/* Was 10px */
}

img{
  width: 100%;
}

.person-img-heidi{
  margin-left: 60px;
  margin-top: 30px;
}

.person-img-krystle{
  margin-right: 60px;
}


/* Main styling */

/* Navbar */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/img/Header-cloud.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: -20px;
  height: 200px;
}

nav{
  margin-top: -100px;
}


#logo{
  padding-top: 6px;
  height: 120px;
  width: auto;
  margin-top: -70px;
  margin-left: 40px;
}

.navbar ul{
  display: flex;
  padding-right: 25px;
}

.navbar a{
  padding:10px 10px;
  margin: 0 15px;
}

.navbar a:hover{
  border-bottom: #D89191 2px solid;
}


/* Showcase */

.feature-container{
  display: flex;
  justify-content: space-between;
  height: 450px;
  overflow: none;
}

#kids{
  height: 451px;
  width: auto;
  margin-left: 5%;

}

#stationary{
  height: 300px;
  max-width: auto;
  margin-top: -50px;
}

.cloud{
  position: relative;
  text-align: center;
  height: 200px;
  justify-content: center;
  margin-left: 200px;
  background-image: url(/img/cloud.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

/* Change width to 85% on large screens */

.cloud p{
  padding-top: 60px;
  width: 65%; 
  margin: auto;
}



.center-paper{
  position: absolute;
  text-align: center;
  top:100px;
  width: 100%;
  margin: auto;
  background-image: url(/img/paper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 620px;
  padding-top: 120px;
}

.center-paper h1{
  font-weight: 200;
  font-size: 55px;
  color: rgb(100, 100, 100);
}

.center-paper h2{
  margin-top: 20px;
  margin-bottom: 120px;
}

.center-paper a{
  background: transparent linear-gradient(99deg, #c290c4 0%, #a2a2c5 44%, #93c6e4 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  padding: 12px 95px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 60%;
}

.center-paper a:hover{
  background: transparent linear-gradient(99deg, #c290c4 0%, #a2a2c5 44%, #93c6e4 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  padding: 12px 95px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 90%;
  transition: 0.2s;
}

/* Main Content */

main{
  background-image: url(/img/Dots.png);
}


.content{
  background: transparent linear-gradient(111deg, #F2BCA6 0%, #D89191 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: -200px;
  padding-top: 200px;
  position: relative;
  z-index: -2;
}

.btn-right {
  color: #c290c4 !important;
  border: 1px solid #c290c4;
  text-align: center;
  padding: 8px 15px;
  border-radius: 50px;
  margin-top: 10px;
  font-size: 0.8em;
  align-self: flex-end;
}

.btn-right:hover {
  color: #fff !important;
  border: 1px solid #c290c4;
  background-color: #c290c4;
  text-align: center;

}

/* Banner */

#banner-img{
  height: 200px;
  margin: 15px 0px;
}

/* Icons */

#benefits > div{
  margin-top: 40px;
  line-height: 1.4rem;
  font-size: 0.8rem;
}

#benefits h3{
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.2em;
}

#benefits img{
  margin-bottom: 10px;
  width: 50%;
}


/* Location */

#location-img{
 height: 200px;
 width: auto;
 align-self: flex-end;
}

/* Footer */

footer{
  padding: 15px 0px;
}

.footer-logo img{
  height: 70px;
  margin: auto;
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  font-size: 0.6em;
}

.footer-text{
  display: flex;
}

.footer-text p,
.footer-text a{
  margin: 0;
}

.footer-text p{
  font-weight: bold;
}

.footer-text li{
  margin-left: 15px;
}

.social{
  display: flex;
  flex-direction: column;
}

.footer-icon{
  display: flex;
  justify-content: space-between;

}




.footer-icon i{
  font-size: 1.6rem;
  margin:10px 5px;

}

/* Services Page */

.section-services{
  display: flex;
}
.service{
  width: 100%;
}

.services-text{
  align-self: center;
  background-color: rgba(255, 255, 255, 0.233);
  padding: 20px 30px;
  margin-bottom: 60px;
  width: 90%;
}

.services-text h4{
  font-size: 1.6rem;
}

.services-paper{
  content: "";
  text-align: center;
  background-image: url(/img/prices.png.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  z-index: 8;
  width: 100%;
}

.group{
  margin-top: 15px;
}

.group h4{
  color: #fff;
}

.group p{
  font-size: 0.8rem;

}

.find-out-more{
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.find-out-more i{
  font-size: 1.4rem;
}


.section-services-main p{

  margin-top: 0px;
  color: rgb(95, 95, 95);
}

.section-services-main h2{
  margin: 40px 0px;
  text-align: center;
  color: rgb(78, 78, 78);
}


.wrapper{
  background-color: rgba(211, 211, 211, 0.226);
  padding: 25px
}

.section-services-main img{

  object-fit: cover;
  border-radius: 20px;
}

.flexing-p{
  display: flex;
}

.P1, 
.P2{
  width: 50%;
  margin-right: 20px;
  padding-right: 15px;
}


.P1 h2{
  text-align: left;
}


.P1 h4,
.P2 h4{
  margin-top: 15px;
}

.img-box{
  margin-left: 15px;
  align-items: center;
}

.flexing-p h4{
  color: #D89191;
}

.text-box{
  margin: auto;
}

.img-box{
  margin: auto 60px;
}


.section-title{
  margin-bottom: 20px;
}



/* About Page */


#about-title{
  text-align: center;
  padding-bottom: 20px;
  margin-top: -10px;
  color: #fff;
  font-size: 1.1rem;
}

.our-storybox{
  font-size: 1rem;
  height: 100%;
}

#story-img img{
  background-size: cover;
  
}

.box{
  margin: auto 30px;
  height: 100%;
}

.flex-container{
  display: flex;
  margin-top: -40px;
}

.flex-box{
  width: 33%;
}

.flex-box-one,
.flex-box-three{
  border-top: 1px solid #333;
  margin-top: 55px;
}

.text{
  margin-left: 55px;
}

/* Contact Page */

.section-contact-main{
  margin: 25px 0px;
}

.section-contact-main p{
  margin-bottom: 35px;
}

#call-us{
  color: #D89191;
  font-size: 1.4rem;
}

#contact-title{
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  margin-top: -10px;
}


.contact-wrapper{
  display: grid;
  grid-template-columns: 5fr 4fr;
}

.contact-media-wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.person{
  display: flex;
}

.person p{
  color: #D89191;
}

.person strong{
  color:#F2BCA6;
}

.person img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 15px;
  object-fit:cover;
}

.social-wrap{
  width: 100%;
  margin: auto;
  text-align: center;
}

.social-wrap h4{
  color: #F2BCA6;
}

.social-wrap i{
  font-size: 1.8rem;
  margin: 10px;
}

.person{
  margin: auto;
}

/* Contact Page */

.flex-fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-wrap{
  background-color: #EBD6D6;
  width: 80%;
  padding: 20px 15px;
  border-radius: 20px;
  margin: auto;
}

input{
  border: none;
  border-radius: 5px;
  height: 25px;
  margin: 5px auto;
  padding: 5px;
  width: 90%;
}

.email-input{
  width: 100%;
  margin: 5px auto;
}