/* Text Colors */

.text-primary{
  color: #6E99B2;
}

.text-secondary{
  color: #BD8BBF;
}

#pink-text{
  color: #D89191;
}

#orange-text{
  color:#F2BCA6;
}



.container{
  width: 85%;
  margin: auto;
}

.bg-dark{
  background-color: #e0f0fadc;
}

/* Buttons */

.btn-full{
  background: transparent linear-gradient(99deg, #c290c4 0%, #a2a2c5 44%, #93c6e4 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  padding: 12px 95px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 60%;
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

.btn-full:hover{
  background: transparent linear-gradient(99deg, #c290c4 0%, #a2a2c5 44%, #93c6e4 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  padding: 12px 95px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 90%;
  transition: 0.2s;
}

.btn-full a{
  color: #fff;
}

/* Titles */

.section-title{
  font-size: 1.6em;
}

/* Section Spacing */

.new-section{
  max-width: 1700px;
  margin:100px auto 0px auto;
}




/* Flex Columns */

.flex-columns.flex-reverse .row{
  flex-direction: row-reverse;
}

.flex-columns .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: 25px;
}

.flex-columns .column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column1,
.flex-columns .column .column2{
  height: 100%;

}


.flex-columns img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.flex-columns .column1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-columns .column1{
  margin-right: 60px;
}



.flex-columns .column2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.flex-columns .column2 img{

}


/* Flex Items */

.flex-items{
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-between;

}

.flex-items > div{
  padding: 30px 15px 10px 15px;
  background-color: rgba(185, 185, 185, 0.384);
  border-radius: 20px;
  box-shadow: 3px 9px 6px #00000029;
  width: 20%;
}


#intro-con{
  display: grid;
  grid-template-columns: 50% 50%;
}

#blog-img img{
  width: 100%;
}


.auto{
  margin: auto;
}
